:host {
  display: block;
}

.welcome-message {
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  gap: 40px;
  & ul{
    margin-left: -1% ;
    & >li {
      & > hr{
        height: 30px;
      }
    }
  }
}
